<nav>
  <div id="seasons">
    <label>Season:</label>
    <select>
        {{#each seasons}}
          <option {{#ifEquals this._id ../season_id }}selected="selected"{{/ifEquals}} value="{{this._id}}">{{this.name}}</option>
        {{/each}}
        <option {{#unless season_id}}selected="selected"{{/unless}} value="">All-Time</option>
    </select>
  </div>
  <ul>
    {{#if season_id}}
      <li><a href="/?season_id={{season_id}}">Ranking</a></li>
      <li><a href="/?view=tournaments&season_id={{season_id}}">Tournaments</a></li>
    {{else}}
      <li><a href="/">Ranking</a></li>
      <li><a href="/?view=tournaments">Tournaments</a></li>
    {{/if}}
  </ul>
</nav>

