
<header>
  <div class="flex">
    <h3
      {{#ifEquals ranking 1}}class="first-place"{{/ifEquals}}
      {{#ifEquals ranking 2}}class="second-place"{{/ifEquals}}
      {{#ifEquals ranking 3}}class="third-place"{{/ifEquals}}>{{player_name}}
    </h3>
    <h2>{{event_name}}</h2>
    {{#if seasons}}
      {{> seasonSelector seasons=seasons season_id=season_id }}
    {{/if}}
  </div>
</header>
<div class="wrapper">
  <table class="details">
    <tr><td>{{seasonName}} ranking:</td><td>{{ranking}} </td></tr>
    <tr><td>Total points:</td><td>{{points}}</td></tr>
    <tr><td>Total rebuys:</td><td>{{rebuys}}</td></tr>
    <tr><td>Total games:</td><td>{{gamesCount}}</td></tr>
  </table>
  <div class="wrapper-chart">
      <canvas id="chart"></canvas>
  </div>
  <table class="table-results">
    <tr>
      <th>Game</th>
      <th>Points</th>
      <th>Ranking</th>
      <!--<th>Players</th>-->
      <th>Rebuys</th>
    </tr>
    {{#each results}}
      <tr>
        <td><a data-animation="slideInRTL" href="/tournament?event_id={{../event_id}}&tournament_id={{this._id}}">{{this.date}}</a></td>
        <td>{{this.points}}</td>
        <td>{{this.ranking}}</td>
        <!--<td>{{this.players}}</td>-->
        <td>{{this.rebuys}}</td>
      </tr>
    {{/each}}
  </table>
</div>
{{> footer event_id=event_id season_id=season_id view="profile"}}

