<header>
  <div class="flex">
    {{#if event_name}}
      <h3><span class="label">League</span>{{event_name}}</h3>
    {{else}}
      <h3>turnies.de</h3>
    {{/if}}
    <h2>Ranking</h2>
    {{#if seasons}}
      <div>
        {{!-- <span class="label">Season</span> --}}
        {{> seasonSelector seasons=seasons season_id=season_id }}
      </div>
    {{/if}}
  </div>
</header>
<div class="wrapper">
  <table class="table-results">
    <tr>
        <th>Rank</th>
        <th>Player</th>
        <th>Points</th>
        <th>1st</th>
        <th>2nd</th>
        <th>Games</th>
        <!--<th>Rebuys</th>-->
    </tr>
    {{#each players}}
      <tr>
          <td>{{inc @index}}</td>
          <td class="name">
            {{#if ../season_id}}
              <a data-animation="slideInRTL" href="/profile?event_id={{../event_id}}&season_id={{../season_id}}&player_id={{this.id}}">{{this.name}}</a>
            {{else}}
              <a data-animation="slideInRTL" href="/profile?event_id={{../event_id}}&player_id={{this.id}}">{{this.name}}</a>
            {{/if}}
          </td>
          <td>{{this.points}}</td>
          <td>{{this.wins}}</td>
          <td>{{this.runnerups}}</td>
          <td>{{this.games}}</td>
          <!--<td>{{this.rebuys}}</td>-->
      </tr>
    {{/each}}
  </table>
  {{#ifCond players.length '==' 0}}
    <p style="text-align: center; margin: 3em; font-size: 24px;
    line-height: 1.3;">No tournament has been played in this season yet!</p>
  {{/ifCond}}
</div>
{{> footer event_id=event_id season_id=season_id view="ranking"}}
