<header>
  <h1>Ranking</h1>
  {{#if seasons}}
    {{> seasonSelector seasons=seasons season_id=season_id }}
  {{/if}}
</header>
<div class="wrapper">
  <table class="table-results">
    <tr>
        <th>Rank</th>
        <th>Player</th>
        <th>Points</th>
        <th>Games</th>
        <!--<th>Rebuys</th>-->
    </tr>
    {{#each players}}
      <tr>
          <td>{{inc @index}}</td>
          <td class="name">
            {{#if ../season_id}}
              <a data-animation="slideInRTL" href="/profile?tenant_id={{../tenant_id}}&season_id={{../season_id}}&player_id={{this.id}}">{{this.name}}</a>
            {{else}}
              <a data-animation="slideInRTL" href="/profile?tenant_id={{../tenant_id}}&player_id={{this.id}}">{{this.name}}</a>
            {{/if}}
          </td>
          <td>{{this.points}}</td>
          <td>{{this.games}}</td>
          <!--<td>{{this.rebuys}}</td>-->
      </tr>
    {{/each}}
  </table>
  {{#ifCond players.length '==' 0}}
    <p style="text-align: center">No data available!</p>
  {{/ifCond}}
</div>
{{> footer tenant_id=tenant_id season_id=season_id view="ranking"}}
