<header>
  <div class="flex">
    {{#if league_name}}
      <h3><span class="label">League</span>{{league_name}}</h3>
    {{else}}
      <h3>turnies.de</h3>
    {{/if}}
    <h2>Games</h2>
    {{#if seasons}}
      <div>
        {{!-- <span class="label">Season</span> --}}
        {{> seasonSelector seasons=seasons season_id=season_id }}
      </div>
    {{/if}}
  </div>
</header>

<div class="wrapper">
  <table class="table-results">
    <tr>
      <th class="date">Games ({{tournaments.length}})</th>
      <th>Players</th>
      <th>1st Pl.</th>
      <th>2nd Pl.</th>
    </tr>
    {{#each tournaments}}
      <tr>
        <td class="name">
          <span class="game-status">
            <a data-animation="slideInRTL" href="/tournament?league_id={{league_id}}&season_id={{../season_id}}&tournament_id={{this._id}}">{{this.date}}</a>
            <span class="status {{#if this.status}}{{this.status}}{{/if}}"></span>
          </span>
        </td>
        <td>{{this.players.length}}</td>
        <td>
          {{#ifCond this.status '==' 'pending'}} ? {{/ifCond}}
          {{#ifCond this.status '==' 'upcoming'}} ? {{/ifCond}}
          {{#ifCond this.status '==' 'done'}}
            <a data-animation="slideInRTL" href="/profile?league_id={{../league_id}}&season_id={{../season_id}}&player_id={{this.firstPlaceId}}">{{this.firstPlace}}</a>
          {{/ifCond}}

          {{!-- for backward compatibility --}}
          {{#unless this.status }}
            <a data-animation="slideInRTL" href="/profile?league_id={{../league_id}}&season_id={{../season_id}}&player_id={{this.firstPlaceId}}">{{this.firstPlace}}</a>
          {{/unless}}
         </td>
        <td>
          {{#ifCond this.status '==' 'pending'}} ? {{/ifCond}}
          {{#ifCond this.status '==' 'upcoming'}} ? {{/ifCond}}
          {{#ifCond this.status '==' 'done'}}
            {{#if this.secondPlaceId}}
              <a data-animation="slideInRTL" href="/profile?league_id={{../league_id}}&season_id={{../season_id}}&player_id={{this.secondPlaceId}}">{{this.secondPlace}}</a>
            {{/if}}
          {{/ifCond}}

          {{!-- for backward compatibility --}}
          {{#unless this.status }}
            {{#if this.secondPlaceId}}
              <a data-animation="slideInRTL" href="/profile?league_id={{../league_id}}&season_id={{../season_id}}&player_id={{this.secondPlaceId}}">{{this.secondPlace}}</a>
            {{/if}}
          {{/unless}}
         </td>
      </tr>
    {{/each}}
  </table>
  {{#ifCond tournaments.length '==' 0}}
    <p style="text-align: center; margin: 3em; font-size: 24px;
    line-height: 1.3;">No tournament has been played in this season yet!</p>
  {{/ifCond}}
</div>
{{> footer league_id=league_id season_id=season_id view="tournaments"}}
