<header>
  <h1>Games</h1>
  {{> seasonSelector seasons=seasons season_id=season_id }}
</header>
<div class="wrapper">
  <table class="table-results">
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Players</th>
      <th>Buyin</th>
      <th>Rebuys</th>
      <th>Bounty</th>
    </tr>
    {{#each tournaments}}
      <tr>
        <td>{{inc @index}}</td>
        <td class="name"><a data-animation="slideInRTL" href="/tournament?tournament_id={{this._id}}">{{this.date}}</a></td>
        <td>{{this.players.length}}</td>
        <td>{{this.buyin}}</td>
        <td>{{this.rebuys}}</td>
        <td>{{this.hasBounty}}</td>
      </tr>
    {{/each}}
  </table>
</div>
<footer>
  {{> footer season_id=season_id view="tournaments"}}
</footer>
