
<header>
  <h1>Game at {{date}}</h1>
</header>
<div class="wrapper">
  <table class="details">
    <tr><td>Total players:</td><td>{{playersCount}}</td></tr>
    <tr><td>Total rebuys:</td><td>{{rebuys}}</td></tr>
    <tr><td>Buyin:</td><td>{{buyin}}</td></tr>
    <tr><td>Bounty:</td><td>{{hasBounty}}</td></tr>
  </table>
  <table class="table-results">
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>Points</th>
      <th>Prize</th>
      <th>Rebuys</th>
      {{#ifEquals hasBounty 'Yes'}}
        <th>Bounty</th>
      {{/ifEquals}}
    </tr>
    {{#each players}}
      <tr>
        <td>{{this.ranking}}</td>
        <td class="name"><a data-animation="slideInRTL" href="/?view=profile&season_id={{../season_id}}&player_id={{this.id}}" {{#ifEquals this.ranking 1}}class="first-place"{{/ifEquals}} {{#ifEquals this.ranking 2}}class="second-place"{{/ifEquals}} {{#ifEquals this.ranking 3}}class="third-place"{{/ifEquals}}>{{this.name}}</a>
        </td>
        <td>{{this.points}}</td>
        <td>{{this.prize}}</td>
        <td>{{this.rebuys}}</td>
        {{#ifEquals ../hasBounty 'Yes'}}
          <td>{{this.bounty}}</td>
        {{/ifEquals}}
      </tr>
    {{/each}}
  </table>
</div>
<footer>
  {{> footer season_id=season_id view=view}}
</footer>
