<header>
  <h1>Games <span>({{ tournaments.length }})</span></h1>
  {{> seasonSelector seasons=seasons season_id=season_id }}
</header>
<div class="wrapper">
  <table class="table-results">
    <tr>
      <th>Date</th>
      <th>Players</th>
      <th><span class="first-place before">1st Pl.</span></th>
      <th><span class="second-place before">2nd Pl.</span></th>
    </tr>
    {{#each tournaments}}
      <tr>
        <td class="name"><a data-animation="slideInRTL" href="/tournament?tournament_id={{this._id}}">{{this.date}} ({{this.round}})</a></td>
        <td>{{this.players.length}}</td>
        <td>{{this.firstPlace}}</td>
        <td>{{this.secondPlace}}</td>
      </tr>
    {{/each}}
  </table>
</div>
<footer>
  {{> footer season_id=season_id view="tournaments"}}
</footer>
