<header>
  <h1>Games</h1>
  {{#if seasons}}
    {{> seasonSelector seasons=seasons season_id=season_id }}
  {{/if}}
</header>
<div class="wrapper">
  <table class="table-results">
    <tr>
      <th>#</th>
      <th class="date">Date</th>
      <th>Players</th>
      <th class="first-place">Winner</th>
    </tr>
    {{#each tournaments}}
      <tr>
        <td>
           {{reverseIndex ../tournaments.length @index}}</td>
        </td>
        <td class="name"><a data-animation="slideInRTL" href="/tournament?tenant_id={{tenant_id}}&season_id={{../season_id}}&tournament_id={{this._id}}">{{this.date}}</a>
        <span class="status {{#if this.status}}{{this.status}}{{/if}}"></span></td>
        <td>{{this.players.length}}</td>
        <td>
          {{#ifCond this.status '==' 'pending'}} ? {{/ifCond}}
          {{#ifCond this.status '==' 'upcoming'}} ? {{/ifCond}}
          {{#ifCond this.status '==' 'done'}}  {{this.firstPlace}} {{/ifCond}}

          {{!-- for backward compatibility --}}
          {{#unless this.status }}  {{this.firstPlace}} {{/unless}}
         </td>
      </tr>
    {{/each}}
  </table>
  {{#ifCond tournaments.length '==' 0}}
    <p style="text-align: center">No data available!</p>
  {{/ifCond}}
</div>
{{> footer tenant_id=tenant_id season_id=season_id view="tournaments"}}
