<header>
  <div class="flex">
    {{#if event_name}}
      <h3><span class="label">League</span>{{event_name}}</h3>
    {{else}}
      <h3>turnies.de</h3>
    {{/if}}
    <h2>Games</h2>
    {{#if seasons}}
      <div>
        {{!-- <span class="label">Season</span> --}}
        {{> seasonSelector seasons=seasons season_id=season_id }}
      </div>
    {{/if}}
  </div>
</header>

<div class="wrapper">
  <table class="table-results">
    <tr>
      <th>#</th>
      <th class="date">Date</th>
      <th>Players</th>
      <th>Winner</th>
    </tr>
    {{#each tournaments}}
      <tr>
        <td>
           {{reverseIndex ../tournaments.length @index}}</td>
        </td>
        <td class="name"><a data-animation="slideInRTL" href="/tournament?event_id={{event_id}}&season_id={{../season_id}}&tournament_id={{this._id}}">{{this.date}}</a>
        <span class="status {{#if this.status}}{{this.status}}{{/if}}"></span></td>
        <td>{{this.players.length}}</td>
        <td>
          {{#ifCond this.status '==' 'pending'}} ? {{/ifCond}}
          {{#ifCond this.status '==' 'upcoming'}} ? {{/ifCond}}
          {{#ifCond this.status '==' 'done'}}  {{this.firstPlace}} {{/ifCond}}

          {{!-- for backward compatibility --}}
          {{#unless this.status }}  {{this.firstPlace}} {{/unless}}
         </td>
      </tr>
    {{/each}}
  </table>
  {{#ifCond tournaments.length '==' 0}}
    <p style="text-align: center; margin: 3em; font-size: 24px;
    line-height: 1.3;">No tournament has been played in this season yet!</p>
  {{/ifCond}}
</div>
{{> footer event_id=event_id season_id=season_id view="tournaments"}}
