
<header>
  <div class="flex">
    {{#if event_name}}
      <h3><span class="label">League</span>{{event_name}}</h3>
    {{else}}
      <h3>turnies.de</h3>
    {{/if}}
    <h2>
      {{#ifCond status '==' 'pending'}}<span class="pending"></span>{{/ifCond}}
      Game</h2>
    <div></div>
  </div>
</header>
<div class="wrapper">
  <table class="details">
    <tr>
      <td>Status:</td>
      <td>
        {{#ifCond status '==' 'pending'}}Pending{{/ifCond}}
        {{#ifCond status '==' 'upcoming'}}Upcoming{{/ifCond}}
        {{#ifCond status '==' 'done'}}Finished{{/ifCond}}
      </td>
    </tr>
    <tr><td>Date:</td><td> {{date}}</td></tr>
    <tr><td>Players:</td><td>{{playersCount}}</td></tr>
    <tr><td>Rebuys:</td><td>{{rebuys}}</td></tr>
    <tr><td>Buyin:</td><td>{{buyin}}</td></tr>
    <tr><td>Bounty:</td><td>{{hasBounty}}</td></tr>
  </table>
  <table class="table-results">
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>Prize</th>
      <th>Rebuys</th>
      <th>Points</th>
      {{#ifEquals hasBounty 'Yes'}}
        <th>Bounty</th>
      {{/ifEquals}}
    </tr>
    {{#each players}}
      <tr>
        <td>{{#ifCond this.ranking '>' 0}}
          {{this.ranking}}
          {{/ifCond}}
          {{#ifCond this.ranking '==' 0}} - {{/ifCond}}
        </td>
        <td class="name"><span
          {{#ifEquals this.ranking 1}}
            {{#ifCond this.prize '>' 0}}
              class="first-place"
            {{/ifCond}}
          {{/ifEquals}}
          {{#ifEquals this.ranking 2}}
            {{#ifCond this.prize '>' 0}}
              class="second-place"
            {{/ifCond}}
          {{/ifEquals}}
          {{#ifEquals this.ranking 3}}
            {{#ifCond this.prize '>' 0}}
              class="third-place"
            {{/ifCond}}
          {{/ifEquals}}>{{this.name}}</span>
        </td>
        <td>{{this.prize}}</td>
        <td>{{this.rebuys}}</td>
        <td>{{this.points}}</td>
        {{#ifEquals ../hasBounty 'Yes'}}
          <td>{{this.bounty}}</td>
        {{/ifEquals}}
      </tr>
    {{/each}}
  </table>
</div>
{{> footer event_id=event_id season_id=season_id view="tournament"}}
