<h1>{{player_id}}</h1>
<p>Ranking: {{ranking}} &nbsp;
   Total Points: {{points}} &nbsp;
   Total Rebuys: {{rebuys}}
</p>
<div class="wrapper">
  <table>
    <tr>
      <th>Tournament</th>
      <th>Points</th>
      <th>Rank</th>
      <th>Players</th>
      <th>Rebuys</th>
    </tr>
    {{#each results}}
      <tr>
        {{#if ../season_id}}
        <td><a href="/?view=tournament&season_id={{../season_id}}&tournament_id={{this._id}}">{{this.date}}</a></td>
        {{else}}
        <td><a href="/?view=tournament&tournament_id={{this._id}}">{{this.date}}</a></td>
        {{/if}}
        <td>{{this.points}}</td>
        <td>{{this.ranking}}</td>
        <td>{{this.players}}</td>
        <td>{{this.rebuys}}</td>
      </tr>
    {{/each}}
  </table>
</div>
