<h1>{{seasonName}} Ranking</h1>
<div class="wrapper">
  <table>
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Points</th>
        <th>Tournaments</th>
        <th>Rebuys</th>
    </tr>
    {{#each players}}
      <tr>
          <td>{{inc @index}}</td>
          <td class="name">
            {{#if ../seasonId}}
            <a href="/?view=profile&season={{../seasonId}}&player_id={{this.id}}">{{this.name}}</a>
            {{else}}
             <a href="/?view=profile&player_id={{this.id}}">{{this.name}}</a>
            {{/if}}
          </td>
          <td>{{this.points}}</td>
          <td>{{this.games}}</td>
          <td>{{this.rebuys}}</td>
      </tr>
    {{/each}}
  </table>
</div>
