<h1>Tournaments  {{seasonName}}</h1>
<div class="wrapper">
  <table>
    <tr>
      <th>Date</th>
      <th>Players</th>
      <th>Buyin</th>
      <th>Rebuys</th>
      <th>Bounty</th>
    </tr>
    {{#each tournaments}}
      <tr>
        {{#if ../season_id}}
        <td class="name"><a href="/?view=tournament&season_id={{../season_id}}&tournament_id={{this._id}}">{{this.date}}</a></td>
        {{else}}
        <td class="name"><a href="/?view=tournament&tournament_id={{this._id}}">{{this.date}}</a></td>
        {{/if}}
        <td>{{this.players.length}}</td>
        <td>{{this.buyin}}</td>
        <td>{{this.rebuys}}</td>
        <td>{{this.hasBounty}}</td>
      </tr>
    {{/each}}
  </table>
</div>
