<ul class="admin__nav">
    <li><a data-animation="slideInRTL" class="icon icon--inline icon--game_add" href="/admin/add-tournament?league_id={{league_id}}{{#if season_id}}&season_id={{season_id}}{{/if}}">Add new tournament</a></li>
    <li><a data-animation="slideInRTL" class="icon icon--inline icon--game_edit" href="/admin/edit-tournament?league_id={{league_id}}{{#if season_id}}&season_id={{season_id}}{{/if}}">Edit tournament</a></li>
    <li><a data-animation="slideInRTL" class="icon icon--inline icon--game_edit" href="/admin/duplicate-tournament?league_id={{league_id}}{{#if season_id}}&season_id={{season_id}}{{/if}}">Duplicate tournament</a></li>
    <li><a data-animation="slideInRTL" class="icon icon--inline icon--game_edit" href="/admin/delete-tournament?league_id={{league_id}}{{#if season_id}}&season_id={{season_id}}{{/if}}">Delete tournament</a></li>
    <li><a data-animation="slideInRTL" class="icon icon--inline icon--season_add" href="/admin/add-season?league_id={{league_id}}{{#if season_id}}&season_id={{season_id}}{{/if}}">Add new season</a></li>
    <li><a data-animation="slideInRTL" class="icon icon--inline icon--season_edit" href="/admin/edit-season?league_id={{league_id}}{{#if season_id}}&season_id={{season_id}}{{/if}}">Edit season</a></li>
    <li><a data-animation="slideInRTL" class="icon icon--inline icon--person_add" href="/admin/add-player?league_id={{league_id}}{{#if season_id}}&season_id={{season_id}}{{/if}}">Add new player</a></li>
    <li><a data-animation="slideInRTL" class="icon icon--inline icon--person_edit" href="/admin/edit-player?league_id={{league_id}}{{#if season_id}}&season_id={{season_id}}{{/if}}">Edit player</a></li>
    <!--
        <li><a href="/admin/delete-player">Delete player</a></li>
    -->
</ul>
{{!-- <div>{{> logout }}</div> --}}
