<ul class="admin__nav">
    <li><a data-animation="slideInRTL" class="icon icon--inline icon--game_add {{#ifEquals id 'add-tournament'}}active{{/ifEquals}}" href="/admin/add-tournament?event_id={{event_id}}">Add new tournament</a></li>
    <li><a data-animation="slideInRTL" class="icon icon--inline icon--game_edit {{#ifEquals id 'edit-tournament'}}active{{/ifEquals}}" href="/admin/edit-tournament?event_id={{event_id}}">Edit tournament</a></li>
    <li><a data-animation="slideInRTL" class="icon icon--inline icon--season_add {{#ifEquals id 'add-season'}}active{{/ifEquals}}" href="/admin/add-season?event_id={{event_id}}">Add new season</a></li>
    <li><a data-animation="slideInRTL" class="icon icon--inline icon--season_edit {{#ifEquals id 'edit-season'}}active{{/ifEquals}}" href="/admin/edit-season?event_id={{event_id}}">Edit season</a></li>
    <li><a data-animation="slideInRTL" class="icon icon--inline icon--person_add {{#ifEquals id 'add-player'}}active{{/ifEquals}}" href="/admin/add-player?event_id={{event_id}}">Add new player</a></li>
    <li><a data-animation="slideInRTL" class="icon icon--inline icon--person_edit {{#ifEquals id 'edit-player'}}active{{/ifEquals}}" href="/admin/edit-player?event_id={{event_id}}">Edit player</a></li>
    <!--
        <li><a href="/admin/delete-player">Delete player</a></li>
    -->
</ul>
