<footer>
  <nav>
    <ul>
      {{#if season_id}}
        <li>
          <a class="icon icon--block icon--ranking {{#ifEquals view 'ranking'}}active{{/ifEquals}}" href="/ranking?tenant_id={{tenant_id}}&season_id={{season_id}}">Ranking</a>
        </li>
        <li>
          <a class="icon icon--block icon--games {{#ifEquals view 'tournaments'}}active{{/ifEquals}}" href="/tournaments?tenant_id={{tenant_id}}&season_id={{season_id}}">Games</a>
        </li>
        {{#if isLoggedIn}}
          <li>
            <a class="icon icon--block icon--admin {{#ifEquals view 'admin'}}active{{/ifEquals}}" href="/admin/home?tenant_id={{tenant_id}}&season_id={{season_id}}">Admin</a>
          </li>
        {{else}}
          <li>
            <a class="icon icon--block icon--login {{#ifEquals view 'login'}}active{{/ifEquals}}" href="/login">Login</a>
          </li>
        {{/if}}
      {{else}}
        <li>
          <a class="icon icon--block icon--ranking {{#ifEquals view 'ranking'}}active{{/ifEquals}}" href="/ranking?tenant_id={{tenant_id}}">Ranking</a>
          </li>
        <li>
          <a class="icon icon--block icon--games {{#ifEquals view 'tournaments'}}active{{/ifEquals}}" href="/tournaments?tenant_id={{tenant_id}}">Games</a>
        </li>
        {{#if isLoggedIn}}
          <li>
            <a class="icon icon--block icon--admin {{#ifEquals view 'admin'}}active{{/ifEquals}}" href="/admin/home?tenant_id={{tenant_id}}">Admin</a>
          </li>
        {{else}}
          <li>
            <a class="icon icon--block icon--login {{#ifEquals view 'login'}}active{{/ifEquals}}" href="/login">Login</a>
          </li>
        {{/if}}
      {{/if}}
    </ul>
  </nav>
</footer>


