<span id="season-selector">
  <select id="select-season">
      {{#each seasons}}
          {{#ifEquals ../season_id 'all_time'}}
            <option
              {{#if @last}}selected="selected"{{/if}}
              value="{{this._id}}">{{this.name}}
            </option>
          {{else}}
            <option
              {{#ifEquals this._id ../season_id }}
                selected="selected"
              {{/ifEquals}}
              value="{{this._id}}">{{this.name}}
            </option>
          {{/ifEquals}}
      {{/each}}
  </select>
</span>
