<table>
    <tbody>
        <tr class="row-player disabled">
            <td>
                <label>{{name}}</label>
                <input hidden name="players" value="{{id}}">
                <button class="icon icon--block icon--person_remove button-delete" type="button"></button>
            </td>
            <td>
                <input name="player_{{id}}_ranking" value="{{ranking}}" type="number" min="0">
            </td>
            <td>
                <input name="player_{{id}}_rebuys" value="{{rebuys}}" type="number" min="0">
            </td>
            <td>
                <input name="player_{{id}}_prize" value="{{prize}}" type="number" min="0">
            </td>
        </tr>
</tbody>
</table>

